<body>
<div class="center-jumbotron">
<h1>Home Field Advantage</h1>
<h5>The Ultimate Fan Finder</h5>
</div>

<p>Wanna find a sports bar watching your game? Wanna watch it with fans that are as smart as you? Here we are! Find your team, find bars that are showing your game and come on down!  </p>



<div class="row">
<div class="col-md-4">

<h3>Orioles</h3>
<a href="/orioles"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzL9g__blEju3FL7poOPZB7TzYVE4nrbpg_urFU4pFpC6GSlqT" class="img-thumbnail"></a>
</div>



<div class="col-md-4">
<h3>Yankees</h3>
<a href="/yankees"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3g41MGpHJsoteEvEiph3xN-rbG7AF8OTxwxYhDkRvMBZuFJdJ" class="img-thumbnail"></a>
</div>

<div class="col-md-4">
<h3>Mets</h3>
<a href="/mets"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0BrDTSYUoA-MBpiwd5PQs6q4B7B3V0zV8Kc-ZjKPV-XZuYYuU" class="img-thumbnail"></a>
</div>
</div>

<div class="row">
<div class="col-md-4">

<h3>Rangers</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnTImjmdN1zr_fOEXZHAMArVFZ6tI4lMTNeJfQ1qbcX4bZApqX" class="img-thumbnail">
</div>



<div class="col-md-4">
<h3>Islanders</h3>
<a href="/islanders"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCiBkyhburbaIcivNMWY1pnE64VAIvMoBN_aL7Ec9mMR_s13Pn" class="img-thumbnail"></a>
</div>

<div class="col-md-4">
<h3>Knicks</h3>
<a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCQo9S7-nKOl_lJg3WQ2AVgK0KNOIJrozKsoWbVrTNxRD-GJji" class="img-thumbnail"></a>
</div>

<div class="col-md-4">
<h3>Jets</h3>
<a href="/jets"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSQuBMt_xrJaUnfm6RABryfacb2SeCerEFnA7R_G8vFuho7TEx
" class="img-thumbnail"></a>
</div>
</div>



</body>










































</div>